/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #495057;
}

/* Buttons */
.btn-primary,
.btn-danger {
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 0.375rem;
    width: 100%;
    margin: 1%;
    /* Ensure buttons fill their container */
}

.btn-primary:hover,
.btn-danger:hover {
    transform: translateY(-2px);
}

/* Form Inputs */
#productName {
    border-radius: 0.375rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-weight: 600;
    color: #333;
}

.form-control {
    border-radius: 0.375rem;
    border: 1px solid #ced4da;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Table Styles */
.table {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.table-hover tbody tr:hover {
    background-color: #f8f9fa;
}

.table td,
.table th {
    vertical-align: middle;
    padding: 1rem;
}

.table-thead {
    background-color: #0d6efd;
    color: white;
}

.table td img.product-img {
    max-width: 50px;
    max-height: 50px;
    object-fit: cover;
    border-radius: 0.375rem;
}

/* Responsive Table */
.table-responsive {
    margin-top: 20px;
    overflow-x: auto;
}

.table td,
.table th {
    font-size: 0.9rem;
}

/* Row Styling */
.myform {
    width: fit-content;
}

.row.mb-4 {
    margin-bottom: 1.5rem;
}

/* Align search buttons */
.w-100 {
    width: 100%;
}

/* Responsive Design */
@media (max-width: 767px) {
    .container {
        padding: 1rem;
    }

    .row.mb-4 {
        flex-direction: column;
    }

    .myform,
    .col-md-6 {
        width: 100%;
    }

    .btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .table td,
    .table th {
        padding: 0.5rem;
        font-size: 0.85rem;
    }

    .table img.product-img {
        max-width: 40px;
        max-height: 40px;
    }
}